.stats {
  width: 100%;
  justify-content: space-between;
  font-weight: bolder;
}
.stat > :nth-child(1) {
  font-size: 4rem;
  margin-left: 40px;
  font-weight: 400;
}
.stat > :nth-child(1) > :last-child {
  color: rgb(223, 205, 36);
}
.secondaryText {
  display: flex;
  color: #fff;
  font-size: 1rem;
  margin-left: 40px;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexCenter {
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.numberText {
  color: rgb(223, 205, 36);
  gap: 8rem;
}
.round {
  border-radius: 40px;
}
