@tailwind base;
@tailwind components;
@tailwind utilities;

.stats{
    width: 100%;
    justify-content: space-between;

}
.stats>:nth-child(1){
    font-size: 2rem;
}
.stats>:nth-child(1)>:last-child{
    color: rgb(10, 10, 11);
}
.secondaryText {
    color: rgb(140 139 139);
    font-size: 0.9rem;
  }